extend default

block content


  boxheader.
    System Page
  <br>
  box. 
    Waiting for UID scan…
  
    
   

  
  <br>
  <br>

  p.
    Placeholder item.
    To do: - add buttons and input areas.
           - Attach arduino serial input to Node.js instance.